<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58007488387-rl132s65p473ckdacmabr0p4nemr4d69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58007488387-rl132s65p473ckdacmabr0p4nemr4d69</string>
	<key>API_KEY</key>
	<string>AIzaSyAsmRoPqHhyOfPZkeOoj1nfUQ9CZvXuRU8</string>
	<key>GCM_SENDER_ID</key>
	<string>58007488387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthbud</string>
	<key>PROJECT_ID</key>
	<string>health-bud</string>
	<key>STORAGE_BUCKET</key>
	<string>health-bud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58007488387:ios:635f01aafd63bf2a0a98b6</string>
</dict>
</plist>